body {
    background-color: rgb(1, 1, 1);
    border: 11px;
}

#header-title {
    text-align: center !important;
    font-family: 'Raleway';
    padding: 10px;
    margin: 2%;
    background-color: #808080 !important;
}

.navigation {
    font-family: 'Raleway';
    font-size: 14px;
    font: bolder;
}

.body-content {
    background-color: rgba(200, 200, 200, 0.33) !important;
    margin: 15%;
    padding: 12px;
    align-content: center;
}

#introductory-paragraph {
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font: bold;
}

#middle-paragraph {
    text-align: center;
    font-family: 'Raleway';
    font-size: 12px;
    font: bold;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbar {
    position: relative;
    display: inline-block;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .submenu-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .submenu-content a:hover {
            background-color: #f1f1f1
        }

.navbar:hover .submenu-content {
    display: block;
}

.navbar:hover .dropbtn {
    background-color: #3e8e41;
}